* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.input-box {
  display: flex;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.input-box button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #2563eb;
  color: white;
}

.tasks {
  margin-top: 25px;
}

.task-card {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.actions {
  display: flex;
  gap: 8px;
}

.complete-btn {
  background: #22c55e;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn {
  background: #ef4444;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}